.container {
  width: 100%;
  background-color: var(--accent-color);
  position: sticky;
  top: 0;
  z-index: 10;

  .navbar {
    max-width: 1140px;
    width: 100%;
    height: 60px;
    margin: auto;
    padding: 0 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .brand-logo {
      color: white;
      font-size: 1.5rem;
      font-weight: 800;
      text-decoration: none;
    }

    .search-bar {
      height: 35px;
      display: flex;
      align-items: center;

      .input-bar {
        width: 160px;
        height: 35px;
        border-style: unset;
        outline-style: unset;
        padding: 0.5em 1em;
        border-radius: 0.2em 0 0 0.2em;

        &::placeholder {
          font-size: 0.75rem;
          font-family: "Poppins", sans-serif;
        }
      }

      .btn-search {
        height: 35px;
        padding: 0 1em;
        background-color: white;
        border-style: unset;
        border-radius: 0 0.2em 0.2em 0;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .navbar-list {
      display: none;
    }

    .btn-menu {
      border-style: unset;
      background-color: unset;
      color: white;
    }
  }

  .mobile-navbar-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1em;
    padding: 1em 0.5em;
    background-color: white;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.5);
    width: 100%;
    transform: translateY(-250px);
    transition: transform 200ms ease-in;

    .active {
      border-bottom: 1px solid var(--primary-color);
    }
  }

  .show {
    transform: translateY(0);
    transition: transform 200ms ease-out;

    .navbar-item {
      text-decoration: none;
      font-size: 1em;
      color: var(--primary-color);
      position: relative;
    }

    .logout {
      display: flex;
      gap: 0.3em;
      padding: 0.5em;
      color: white;
      background-color: var(--primary-color);
      border-style: unset;
      border-radius: 0.3em;

      :hover {
        cursor: pointer;
      }
    }
  }
}

@media screen and (min-width: 480px) {
  .container {
    .navbar {
      padding: 0 1em;
    }
  }
}

@media screen and (min-width: 768px) {
  .container {
    .navbar {
      padding: 0 1.2em;

      .navbar-list {
        display: flex;
        align-items: center;
        gap: 1em;

        .navbar-item {
          text-decoration: none;
          font-size: 1em;
          color: white;

          &:hover {
            color: var(--primary-color);
          }
        }

        .active {
          border-bottom: 3px solid white;

          &:hover {
            border-bottom: 3px solid var(--primary-color);
          }
        }

        .logout {
          display: flex;
          gap: 0.3em;
          padding: 0.5em;
          color: white;
          background-color: var(--primary-color);
          border-style: unset;
          border-radius: 0.3em;

          &:hover {
            cursor: pointer;
          }
        }
      }

      .search-bar {
        .input-bar {
          width: 400px;
        }
      }

      .btn-menu {
        display: none;
      }

      .mobile-navbar-list {
        display: none;
      }
    }
  }
}
