.darkBG {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  z-index: 20;
  top: 0;
  left: 0;
  position: fixed;
  -ms-overflow-style: none;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;

  .modal {
    width: 360px;
    min-height: 420px;
    height: 100%;
    background: white;
    color: white;
    z-index: 10;
    border-radius: 16px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);

    .modalHeader {
      height: 50px;
      background: white;
      overflow: hidden;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;

      .heading {
        margin: 0;
        padding: 10px;
        color: #2c3e50;
        font-weight: 500;
        font-size: 18px;
        text-align: center;
      }
    }

    .closeBtn {
      cursor: pointer;
      font-weight: 500;
      padding: 4px 8px;
      border-radius: 8px;
      border: none;
      font-size: 18px;
      color: #2c3e50;
      background: white;
      transition: all 0.25s ease;
      box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
      position: absolute;
      right: 0;
      top: 0;
      align-self: flex-end;
      margin-top: -7px;
      margin-right: -7px;

      &:hover {
        box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
        transform: translate(-4px, 4px);
      }
    }

    .modalContent {
      padding: 10px;
      font-size: 14px;
      height: 100%;
      color: #2c3e50;
      display: flex;
      flex-direction: column;
      align-items: center;

      .input-bar {
        width: 100%;
        height: 35px;
        border-style: unset;
        border: 1px solid var(--primary-color);
        outline-style: unset;
        padding: 0.5em 1em;
        border-radius: 1em;

        &::placeholder {
          font-size: 0.75rem;
          font-family: "Poppins", sans-serif;
        }
      }

      .result {
        padding: 1em 0;
        margin-top: 1em;
        width: 100%;
        min-height: 300px;
        max-height: 500px;
        height: 100%;
        overflow: auto;
        display: flex;
        justify-content: center;
        gap: 1em;
        flex-wrap: wrap;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .centered {
    .modal {
      width: 860px;

      .modalContent {
        .input-bar {
            width: 400px;
        }

        .result {
            max-height: 460px;
        }
      }
    }
  }
}
